/*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557-----*/
/*------------------------------------------------------------------------*/
/*------.container						----------*/
/*------	.heading					----------*/
/*------	.projtypes					----------*/
/*------		.resume					----------*/
/*------		.misc					----------*/
/*------------------------------------------------------------------------*/

/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	height: 100%;
	margin: 0;
	}

body
	{
	/-webkit-background-image:url(./Assets/images/bokeh-wallpaper-4.jpg);
	background-image:url(./Assets/images/bokeh-wallpaper-4.jpg);
			background-size:cover;
	background-position: center;


	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-decoration:none;
	color:black;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:13px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:black;
	}

h1	/*--------heading---------*/
	{
	font-size:50px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	color:black;
	}

h2	/*--------heading2---------*/
	{
	font-size:30px;
	font-family: Verdana, sans-serif;
	color:black;
	}

h3	/*--------heading3---------*/
	{
	font-size:16px;
	font-family: Verdana, sans-serif;
	color:black;
	padding: 5px 0 5px 0;
	}

/*---------------style text--------------------------*/
/*---------------style heading-----------------------*/
.maincontainer
	{
	display:flex;
	flex-direction:column;

	width:100%;
	height: 100%;
	min-height:400px;
	background-color: rgb(0,0,0,);
	background-color:rgba(0,0,0,0.2);
	}

/*---------------style heading-----------------------*/
.heading
	{
	height:10%;	
	min-height:70px;
	display:flex;
	justify-content:center;
	align-items:center;

	background-color: rgb(255,255,255);
	background-color:rgba(255,255,255,0.1);

	backdrop-filter: blur(10px);

	border-radius:10px;
	border: 1px solid gray;
	margin:30px;
	}

/*---------------style heading-----------------------*/
/*---------------style project container-------------*/
.projcontainer
	{
	height:90%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	/*------background-color:silver;---*/
	margin:0 20px 0 20px;
	}
/*---------------style project container-------------*/
/*---------------style project types-----------------*/
.projtypes
	{
	height:100%;
	width:50%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	text-align:center;
	border-radius:10px;
	padding:10px;
	}
/*---------------style project types-----------------*/
/*---------------style project heading---------------*/
.projheading
	{
	height:10%;
	min-height:30px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;

	background-color: rgb(255,255,255);
	background-color:rgba(255,255,255,0.1);

	backdrop-filter: blur(10px);

	border-radius:10px;
	border: 1px solid gray;

	}
/*---------------style project heading---------------*/

/*---------------style projects----------------------*/
.projects
	{
	height:85%;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	/*------background-color:silver;---*/
	align-content: stretch;
	justify-content:space-between;	
	}

.projects >div
	{
	width:49%;

	display:flex;
	margin:5px 0 5px 0;

	background-color: rgb(255,255,255);
	background-color:rgba(255,255,255,0.1);

	backdrop-filter: blur(10px);

	border-radius:10px;
	border: 1px solid gray;

	justify-content: center;
	align-items: center;
	}

.projects >div:hover
	{
	background-color:rgba(255,255,255,0.2);
	border: 1px solid white;
	color:white;
	}

.projects >div a h3:hover
	{
	color:white;
	}
/*---------------style projects----------------------*/

/*---------------responsive---------------------------*/
@media screen and (max-width: 700px)
{
.heading
	{
	margin-top:10px;
	min-height: 70px;
	}
	
}


@media screen and (max-width: 480px)
{
.heading
	{
	margin:10px;
	}
.projcontainer
	{
	margin: 0;
	}

h1	/*--------heading---------*/
	{
	font-size:30px;
	}
h2	/*--------heading---------*/
	{
	font-size:20px;
	}


h3	/*--------heading---------*/
	{
	font-size:12px;
	}	
}

@media screen and (max-height: 400px)
{
.heading
	{
	margin-top:5px;
	margin-bottom:5px;
	}

h1	/*--------heading---------*/
	{
	font-size:25px;
	}

h2	/*--------heading---------*/
	{
	font-size:15px;
	}

h3	/*--------heading---------*/
	{
	font-size:10px;
	padding:0;
	}

.projtypes
	{
	justify-content: unset;
	}
}
