*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-----*/
/*------------------------------------------------------------------------*/
/*------.heading						----------*/
/*------	.name						----------*/
/*------	.links						----------*/
/*------.middle							----------*/
/*------	.midleftcol					----------*/
/*------		.skillsum				----------*/
/*------		.skillcontainer				----------*/
/*------			.skills >heading>head2>text	----------*/
/*------	.midrightcol					----------*/
/*------		.imageslide				----------*/
/*------		.accordion				----------*/
/*------------------------------------------------------------------------*/


/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	margin: 0;
	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-underline-offset:0.3em;
	text-decoration-style: dotted;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:14px;
	font-family: Verdana, sans-serif;
	margin:0 0 0 15px;
	}

p1	/*--------name text---------*/
	{
	font-size:17px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:#343A40;
	}
p2	/*--------links text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	}
p3	/*--------desciption text---------*/
	{
	font-size:11px;
	font-family: Verdana, sans-serif;
	color:#343A40;
	}

p4	/*--------desciption text---------*/
	{
	font-size:13px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

p12	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

p5	/*--------name text---------*/
	{
	font-size:13px;
	font-style: italic;
	font-weight:bold;
	font-family: Verdana, sans-serif;
	margin:0 0 5px 0;	
	color:#6C757D;
	}

h1	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;

	margin:5px 0 0 0;
	color:#343A40;
	}
h2	/*--------level 1 text------*/
	{
	font-size:20px;
	font-family: Verdana, sans-serif;
	/*---letter-spacing: 2px;---*/
	color:#212529;
	margin:10px 0 10px 0;
	}
h3	/*--------level 2 text------*/
	{
	font-size:16px;
	font-family: Verdana, sans-serif;
	color:#495057;
	margin:10px 0 5px 0;
	}

h4	/*--------level 3 text------*/
	{
	font-size:14px;
	font-family: Verdana, sans-serif;
	color:#212529;
	margin:10px 0 0px 0;
	}

ul
	{
	margin:5px 0 5px 0;
	}

/*---------------style text--------------------------*/

/*---------------style heading-----------------------*/
.heading
	{
	display:flex;
	flex-direction:row;
	width:90%;
	max-width:1000px;
	min-width:750px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;

	padding:10px 0 10px 0;
	
	border-bottom:1px solid #DEE2E6;
	}
/*---------------style heading-----------------------*/
/*---------------style heading name------------------*/
.name
	{
	display:flex;
	flex-direction:column;
	width:70%;
	min-width:450px;
	/*---background-color:#F0F0F0;---*/
	padding:10px;

	}

/*---------------style heading name------------------*/
/*---------------style heading links-----------------*/
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:30%;
	min-width:250px;
	}

.links
	{
	display:flex;
	width:100%;
	min-width:250px;
	height:50px;
	}

.links>div
	{
	display:flex;
	flex:20%;
	min-width:40px;
	background-color:#E9ECEF;
	justify-content:center;
	text-align:center;
	align-items:center;
	margin:0 2px 0 2px;
	padding:5px;
	
	border:none;
	transition: 0.2s;
	}

.links>div:first-child
	{
	margin:0 2px 0 0;
	}
.links>div:last-child
	{
	margin:0 0 0 2px;
	}

.links>div a
	{
	height:50px;
	width:100%;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	}

.links>div a:hover
	{
	color:white;
	}


.links>div:hover
	{
	background-color:#343A40;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:250px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	text-align:justify;
	}


/*---------------dropdown links--*/
div#resume			/*---only for resume link---*/
	{
	display:block;
	background-color:#E9ECEF;
	padding:0;
	height:inherit;
	}

div#resume:hover		/*---hover on resume link---*/
	{
	background-color:#343A40;
	}

div#resume a			/*---resume text style---*/
	{
	width:100%;
	color:black;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	height:inherit;
	}

div#resume a:hover		/*---resume text color on hover---*/
	{
	color:white;
	}

div#resume a p2
	{
	display:block;
	margin:auto;
	}

div#resume .dropdownlinks	/*---dropdown container---*/
	{
	display:none;
	position:absolute;
	z-index:1;
	}

div#resume .dropdownlinks a	
	{
	margin:5px 0 5px 0;
	background-color:#DEE2E6;
	color:black;

	}

div#resume .dropdownlinks a p2
	{
	display:flex;
	align-items:center;
	height:30px;
	width:145px;
	padding:5px;
	text-align:left;
	}

div#resume .dropdownlinks a:hover
	{
	color:white;
	background-color:#343A40;
	}
	
div#resume:hover .dropdownlinks		/*---display dropdown links on hover @ resume---*/
	{
	display: block;
	}

div#resume:hover #resblock
	{
	color:white;
	}

#resblock
	{
	cursor:context-menu;
	}

/*---------------style heading links-----------------*/
/*---------------style middle------------------------*/
.middle
	{
	display:flex;
	flex-direction:column;
	width:90%;
	max-width:1000px;
	min-width:750px;
	/*---background-color:#E9ECEF;---*/
	margin-left:auto;
	margin-right:auto;
	padding:10px 0 10px 0;
	}
/*---------------style middle------------------------*/
/*---------------style middle left skillsum----------*/
.skillsum
	{
	display:flex;
	flex-direction:column;
	padding-bottom:20px;
	border-bottom:1px solid #DEE2E6;
	text-align:justify;
	}
/*---------------style middle left Skillsum----------*/
/*---------------style middle left skillsum-2--------*/
.skillsum2
	{
	display:flex;
	flex-direction:column;
	padding-bottom:20px;
	border-bottom:1px solid #DEE2E6;
	/*-----text-align:justify;---*/
	}

.skills
	{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	}

.skills>div
	{
	display:flex;
	flex-direction:column;
	}

.skills>div h3
	{
	font-size:14px;
	margin-top:0;
	}


.skills>div p3 ul
	{
	padding-left:15px;
	}
		
/*---------------style middle left Skillsum-2--------*/
/*---------------style middle professional history---*/
.profhist
	{
	display:flex;
	flex-direction:column;
	padding-bottom:20px;
	border-bottom:1px solid #DEE2E6;
	text-align:justify;
	}
.profhist>div
	{
	margin-left:20px;
	display:flex;
	flex-direction:column;

	padding-bottom:20px;
	border-bottom:1px solid #DEE2E6;
	}

.profhist>div:last-child
	{
	border-bottom:none;
	}

.profhist>div p5
	{
	font-size:12px;
	color:#495057;
	}

.profhist>div p4 ul
	{
	padding-left:15px;
	}

.profhist>div p4 ul li
	{
	margin-bottom:10px;
	}

/*---------------style middle professional history---*/
/*---------------responsive--------------------------*/
/*---tablet - landscape, 768px width---*/
@media only screen and (max-width: 768px)
{
html, body
	{
	min-width:700px;
	padding:10px;
	margin:0;
	}
h1	/*--------name text---------*/
	{
	font-size:70px;
	}
.heading 
	{
	width:700px;
	max-width:unset;
	min-width:700px;
	}
.middle 
	{
	width:700px;
	max-width:700px;
	min-width:unset;
	}
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 670px and down) */
@media only screen and (max-width: 670px) 
{
html, body
	{
	min-width:640px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:640px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:30px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:640px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:640px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}
/*---------------style middle------------------------*/
.middle
	{
	width:100%;
	max-width:640px;
	min-width:640px;
	padding:10px 0 10px 0;
	}
.skills>div
	{
	display:flex;
	flex-direction:column;
	width:20%;
	padding:5px;
	border-right:1px solid #DEE2E6;
	}
.skills>div p3 ul
	{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.5;
	}

.skills>div:first-child
	{
	margin:0 5px 0 0;
	padding:5px 5px 5px 0;
	}
.skills>div:last-child
	{
	margin:0 0 0 5px;
	border-right:none;
	}
 
.skills>div h3
	{
	font-size:11px;
	height:30px;
	text-align:center;
	}
.profhist>div p
	{
	text-align:left;
	}
}


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
html, body
	{
	min-width:500px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:500px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:30px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:500px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:500px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}
/*---------------style middle------------------------*/
.middle
	{
	width:100%;
	max-width:500px;
	min-width:500px;
	padding:10px 0 10px 0;
	}
.skills>div
	{
	display:flex;
	flex-direction:column;
	width:20%;
	padding:5px;
	border-right:1px solid #DEE2E6;
	}
.skills>div p3 ul
	{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.5;
	}

.skills>div:first-child
	{
	margin:0 5px 0 0;
	padding:5px 5px 5px 0;
	}
.skills>div:last-child
	{
	margin:0 0 0 5px;
	border-right:none;
	}
 
.skills>div h3
	{
	font-size:11px;
	height:30px;
	text-align:center;
	}
.profhist>div p
	{
	text-align:left;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 480px - 375px----*/
@media only screen and (max-width: 480px) 
{
html, body
	{
	min-width:320px;
	/*--padding:10px;---*/
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:50px;
	width:320px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:320px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	width:320px;
	}
.name p4
	{
	width:320px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:320px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:320px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:320px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}
/*---------------style middle------------------------*/
.middle
	{
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	padding:10px 0 10px 0;
	}
.skills
	{
	display:flex;
	/*---flex-direction:row;-----*/
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	}
.skills>div
	{
	display:flex;
	/*---flex-direction:column;-----*/
	flex-direction:row;
	width:unset;
	margin:5px;
	padding:5px;
	border:none;

	border-bottom: 1px solid #DEE2E6;
	}
.skills>div h3
	{
	width:100px;
	text-align:left;
	}
.skills>div:first-child
	{
	margin:5px;
	padding:5px;
	}
.skills>div:last-child
	{
	margin:5px;
	border:none;
	}
.skills>div p3 ul
	{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.5;
	}
.skills>div p3 ul li
	{
	text-align:left;
	}
/*---------------style middle professional history---*/
.profhist div h4, p5
	{
	text-align:left;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 325px and below----*/
@media only screen and (max-width: 325px) 
{
html, body
	{
	min-width:290px;
	padding:0;
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:40px;
	width:290px;
	}
h2	
	{
	font-size: 15px;
	}
h3	
	{
	font-size: 13px;
	}
h4	
	{
	font-size: 13px;
	}
p5, p	
	{
	font-size: 12px;
	}

/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:290px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	font-size: 12px;
	width:290px;
	}
.name p4
	{
	width:290px;
	}

.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:290px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:290px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:290px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}
/*---------------style middle------------------------*/
.middle
	{
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	padding:10px 0 10px 0;
	}
.skills
	{
	display:flex;
	/*---flex-direction:row;-----*/
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	}
.skills>div
	{
	display:flex;
	/*---flex-direction:column;-----*/
	flex-direction:row;
	width:unset;
	margin:5px;
	padding:5px;
	border:none;

	border-bottom: 1px solid #DEE2E6;
	}
.skills>div h3
	{
	width:100px;
	text-align:left;
	}
.skills>div:first-child
	{
	margin:5px;
	padding:5px;
	}
.skills>div:last-child
	{
	margin:5px;
	border:none;
	}
.skills>div p3 ul
	{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
	line-height:1.5;
	}
.skills>div p3 ul li
	{
	text-align:left;
	}
/*---------------style middle professional history---*/
.profhist div h4, p5
	{
	text-align:left;
	}
}
