*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-----*/
/*------------------------------------------------------------------------*/
/*------.heading						----------*/
/*------	.name						----------*/
/*------	.links						----------*/
/*------.projlist						----------*/
/*------	.projtabs					----------*/
/*------	.tabs		(tab content)			----------*/
/*------		.button					----------*/
/*------		.tabcontent				----------*/

/*------------------------------------------------------------------------*/


/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	margin: 0;
	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-underline-offset:5px;
	text-decoration-style: dotted;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:white;
	}

p1	/*--------name text---------*/
	{
	font-size:17px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:#343A40;
	}
p12	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

p15	/*--------desciption text---------*/
	{
	font-size:15px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	text-align:justify;
	
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	}

p15 button
	{
	padding:10px;
	border-radius:5px;
	background-color:silver;
	border-width:0;
	flex-grow:1;
	background:#E9ECEF;
	font-weight:bold;
	}

p2	/*--------links text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	}
p3	/*--------desciption text---------*/
	{
	font-size:13px;
	font-family: Verdana, sans-serif;
	color:#343A40;
	}

p4	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}



h1	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;
	/*---margin:5px 0 0 0;	---*/
	color:#343A40;
	}

hf	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;
	/*---margin:5px 0 0 0;	---*/
	color:#343A40;
	line-height:1;
	font-weight:bold;
	}

h1_5	/*--------name text---------*/
	{
	font-size:35px;
	font-family: Arial, sans-serif;
	padding-bottom:10px;
	color:#343A40;
	font-weight:bold;
	line-height:1;
	}

h2	/*--------name text---------*/
	{
	font-size:25px;
	font-family: Verdana, sans-serif;
	letter-spacing: 2px;
	margin:0 0 5px 0;
	color:#495057;
	}
h3	/*--------name text---------*/
	{
	font-size:16px;
	font-family: Verdana, sans-serif;
	color:#495057;
	}


/*---------------style text--------------------------*/

/*---------------style heading-----------------------*/
.heading
	{
	display:flex;
	flex-direction:row;
	width:calc(90% - 16px);
	max-width:1000px;
	min-width:750px;
	height:160px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;

	padding:18px 0 10px 0;
	
	border-bottom:1px solid #DEE2E6;
	background:white;

	}


/*---------------style heading-----------------------*/
/*---------------style heading name------------------*/
.name
	{
	display:flex;
	flex-direction:column;
	width:70%;
	min-width:450px;
	/*---background-color:#F0F0F0;---*/
	padding:0 10px 10px 0;
	}

/*---------------style heading name------------------*/
/*---------------style heading links-----------------*/
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:30%;
	min-width:250px;
	}

.links
	{
	display:flex;
	width:100%;
	min-width:250px;
	height:50px;
	}

.links>div
	{
	display:flex;
	flex:20%;
	min-width:40px;
	background-color:#E9ECEF;
	justify-content:center;
	text-align:center;
	align-items:center;
	margin:0 2px 0 2px;
	padding:5px;

	border:none;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	}

.links>div:first-child
	{
	margin:0 2px 0 0;
	}
.links>div:last-child
	{
	margin:0 0 0 2px;
	}

.links>div a
	{
	height:50px;
	width:100%;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;

	text-decoration:none;
	}

.links>div a:hover
	{
	color:white;
	}


.links>div:hover
	{
	background-color:#343A40;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:250px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	text-align:justify;
	}


/*---------------dropdown links--*/
div#resume			/*---only for resume link---*/
	{
	display:block;
	background-color:#E9ECEF;
	padding:0;
	height:inherit;
	}

div#resume:hover		/*---hover on resume link---*/
	{
	background-color:#343A40;
	}

div#resume a			/*---resume text style---*/
	{
	width:100%;
	color:black;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	height:inherit;
	}

div#resume a:hover		/*---resume text color on hover---*/
	{
	color:white;
	}

div#resume a p2
	{
	display:block;
	margin:auto;
	}

div#resume .dropdownlinks	/*---dropdown container---*/
	{
	display:none;
	position:absolute;
	z-index:1;
	}

div#resume .dropdownlinks a	
	{
	margin:5px 0 5px 0;
	background-color:#DEE2E6;
	color:black;

	}

div#resume .dropdownlinks a p2
	{
	display:flex;
	align-items:center;
	height:30px;
	width:145px;
	padding:5px;
	text-align:left;
	}

div#resume .dropdownlinks a:hover
	{
	color:white;
	background-color:#343A40;
	}
	
div#resume:hover .dropdownlinks		/*---display dropdown links on hover @ resume---*/
	{
	display: block;
	}

div#resume:hover #resblock
	{
	color:white;
	}

#resblock
	{
	cursor:context-menu;
	}

/*---------------style heading links-----------------*/

/*---------------style projlist----------------------*/
.fp-overflow
	{
	display:flex;
	justify-content:center;
	height:100%;
	}

.fp-arrow.fp-prev
	{
	border-color: transparent black transparent transparent;
	}
.fp-arrow.fp-next 
	{
	border-color: transparent transparent transparent black;
	}
.fp-prev 
	{
	right: 35px;
	}
.fp-next 
	{
	right: 35px
	}

#header
	{
	top:0;
	position:fixed;
	display:block;
	width: 100%;
	background: unset;
	z-index:9;
	height: 160px;

	/* smooth effect */
	transition: box-shadow 0.3s ease;
	}


/* shadow when scrolled */
#header.scrolled
{
	box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


.projlist,
.projlist_1T
	{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
width:calc(90% - 16px);
max-width:1000px;
	top:0;
	position:relative;

	margin-top:160px;
	padding:20px 0 0 0;
	}


.profile,
.graphics
	{
	display:flex;
	flex-direction:column;
	height:90%;
	}


.projlistFeatured,
.proj
	{
	display:flex;
	flex-direction:column;
width:calc(90% - 16px);
max-width:1000px;
	height:auto;
	top:0;
	position:relative;
	margin-top:160px;
	padding:20px 0 0 0;
	}

.projlistFeatured .left,
.proj .left
	{
	display:flex;
	flex-direction:column;
	width:30%;
	gap:10px;
	justify-content: space-between;
	}

.projlistFeatured .left .img, .projlistFeatured .right .img
.proj .left .img, .proj .right .img
	{
	width:100%;
	aspect-ratio:unset;
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*---margin:0 auto 10px auto;---*/
	}

.projlistFeatured .right,
.proj .right
	{
	display:flex;
	flex-direction:column;
	width:70%;
	padding-left:50px;
	}


.projlistFeatured .img
	{
	width:60%;
	/*---width:60%;---*/
	aspect-ratio:16/9;
	/*---min-height:350px;---*/
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

/*--.projlistFeatured .imgContainer,--*/
.proj .imgContainer
	{
	width:80%;
	max-width:800px;
	display:flex;
	gap:10px;
	margin:auto
	}

.proj .notAlignedContainer
	{ align-items:unset;	}

.containerRow
	{ flex-direction:row;	}

.proj .containerMarginAuto
	{ margin:auto;	}

.proj .container100
	{
	width:100%;
	max-width:unset;
	}

.proj .container95
	{
	width:95%;
	max-width:unset;
	}

.proj .container90
	{
	width:90%;
	max-width:unset;
	}

.projlistFeatured .imgContainer .img3,
.projlistFeatured .imgContainer .img2
	{
	width:33%;
	aspect-ratio:unset;
	/*---min-height:350px;---*/
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:black;
	font-size:12px;
	line-height:1.5;
	}

.projlistFeatured .imgContainer .img2
	{
	aspect-ratio:16/9;
	height:100%;
	align-self:center;
	}

.projlistFeatured .img3, .projlistFeatured .img,
.proj .img3, .proj .img
	{
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	}

.projlist_1T h1_5,
.projlist h1_5,
.proj h1_5
	{ font-size:35px;	}

.projlist h1_5
	{ margin-bottom:20px;	}

.proj p12
	{
	color:black;
	width:60%;
	margin:10px auto 0 auto;
	}

.projlistFeatured video
	{ 
	width:60%;
	aspect-ratio:16/9;
	margin:auto;
	}


.graphics .video
	{
	width: 600px;
	margin: auto;
	}

.img,
.img2,
.img3
	{ border-radius:10px;	}

/*---------------style projlist----------------------*/
/*---------------style project sample 1--------------*/
.designSamples,
.graphicSamples
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:10px;
	margin:auto 0;
	}

.designSamples a,
.graphicSamples a
	{
	width:25%;
	flex-grow:1;
	height:120px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:15px;
	line-height:1;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	}

.designSamples a:hover,
.graphicSamples a:hover
	{
	width:45%;
	font-size:20px;
	}

.designSamples .img
	{
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center;
	}

.titleText
	{
	font-size:12px;
	font-family: Arial, sans-serif;
	color:white;
	font-weight:bold;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ensures readability */
	pointer-events: none; /* Allows clicks to pass through to the image if needed */
	}



.graphic01,
.graphic02
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:10px;
	width:80%;
	margin:auto;
	}

.reports
	{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	gap:10px;
	}

.graphic01 a,
.graphic02 a
	{
	width:30%;
	flex-grow:1;
	height:200px;
	aspect-ratio:16/9;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:15px;
	line-height:1;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	border-radius:5px;

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 
                 0px 0px 10px rgba(0, 0, 0, 0.7);
	}

.graphic02 a
	{
	height:350px;
	box-shadow:unset;
	aspect-ratio:unset;
	}
.graphic02 img
	{
	border-radius:10px;
	flex:0 0 40%;
	align-self:center;
	}

.reports img
	{
	max-width:1000px;
	max-height:350px;
	border-radius:10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	}

.reports a
	{ margin: 0 auto;	}

#paperProp a
	{
	background-position:top;
	height:204px;
	width:288px;
	}

/*---------------style grids-------------------------*/
.gridContainer_1x1,
.gridContainer_1x2,
.gridContainer_1x2_long,
.gridContainer_2x2,
.gridContainer_3x2,
.gridContainer_3x3,
.gridContainer_3x6,
.gridContainer_4x6
	{
	display: grid;
	gap: 10px; 
	width: 90%;
	max-width: 800px;
	margin:auto;
	}
.gridContainer_1x1
	{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	}

.gridContainer_1x2,
.gridContainer_1x2_long
	{
	/* 1. Define the structure */
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	/* 2. Tell items to fill row first */
	grid-auto-flow: column;
	max-height:350px;
	}

.gridContainer_2x2
	{
	/* 1. Define the structure */
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	/* 2. Tell items to fill row first */
	grid-auto-flow: row;
	}

.gridContainer_3x2
	{
	/* 1. Define the structure */
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	/* 2. Tell items to fill columns first */
	grid-auto-flow: column;
	}

.proj .container100 .gridContainer_1x1,
.proj .container100 .gridContainer_1x2,
.proj .container100 .gridContainer_1x2_long,
.proj .container100 .gridContainer_2x2,
.proj .container100 .gridContainer_3x2,
.proj .container100 .gridContainer_4x6
	{
	width: unset;
	max-width: unset;
	}
.proj .container90 .gridContainer_1x1,
.proj .container90 .gridContainer_1x2,
.proj .container90 .gridContainer_1x2_long,
.proj .container90 .gridContainer_2x2,
.proj .container90 .gridContainer_3x2,
.proj .container90 .gridContainer_4x6
	{
	width: unset;
	max-width: unset;
	}


.proj .container95 .gridContainer_1x1,
.proj .container95 .gridContainer_1x2,
.proj .container95 .gridContainer_1x2_long,
.proj .container95 .gridContainer_2x2,
.proj .container95 .gridContainer_3x2,
.proj .container95 .gridContainer_4x6
	{
	width: 80%;
	max-width: unset;
	}

.proj .container60 .gridContainer_1x1,
.proj .container60 .gridContainer_1x2,
.proj .container60 .gridContainer_1x2_long,
.proj .container60 .gridContainer_2x2,
.proj .container60 .gridContainer_3x2,
.proj .container60 .gridContainer_4x6
	{
	width: 60%;
	max-width: unset;
	}

.gridContainer_3x3
	{
	/* 1. Define the structure */
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr auto;
	/* 2. Tell items to fill columns first */
	grid-auto-flow: column;
	}

.gridContainer_3x6
	{
	/* 1. Define the 3x3 structure */
	grid-template-columns: 1fr 1fr auto;	/* Col 3 is double width */
	grid-template-rows: repeat(6, 1fr);	/* 3 rows of equal height */
	/* 2. Tell items to fill columns first */
	grid-auto-flow: column;
	max-height: 350px;
	margin:0 auto;
	max-width:800px;
	width:80%;
	}

.gridContainer_4x6
	{
	/* 1. Define the structure */
	grid-template-columns: repeat(4, auto);
	grid-template-rows:repeat(6, auto);
	/* 2. Tell items to fill row first */
	grid-auto-flow: row;
	}

.grid-row
	{ grid-auto-flow:row;	}

.gridText .grid-item .img3
	{
	width:100%;
	height:100%;
	object-fit:cover;
	display:block
	}

.aspect-16_9 .img3
	{ aspect-ratio:16/9;	}

.aspect-4_3 .img3
	{ aspect-ratio:1.4/1;	}

.span2rows
	{ grid-column:span 2;	}


.span01
	{
	grid-column:span 2;
	grid-row:span 6;
	}

.span02
	{
	grid-column:3 / span 2;
	grid-row:3 / span 2;
	}

.span03
	{ grid-row:span 2; }

.span04
	{
	grid-row:1 / span 2;
	grid-column:2 / span 2;
	}

.gridContainer_3x2 .span2rows .img3
	{
	aspect-ratio:32/9;
	object-position:bottom;
	}

.gridContainer_3x2 .object_0_100 .img3
	{ object-position:0 100%;	}

.gridContainer_3x2 .object_0_0 .img3
	{ object-position:0 0;	}

.gridText .grid-item p
	{
	z-index:3;
	font-family: arial, helvetica;
	font-size:12px;
	font-weight:bold;
	line-height: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 10px;
	letter-spacing:unset;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.7);
	}

.grid-item
	{
	text-align: center;
	color: black;
	font-size: 12px;
	line-height: 1.5;
	display:flex;
	position:relative;
	}

.grid-item80
	{ height:80%	}

.grid-item-scale85 .img3
	{
	width:85%;
	margin:0 auto;
	}
.grid-item img
	{
	width:100%;
	height:100%;
	object-fit:cover;
	}

.gridContainer_3x6 .grid-item
	{
	grid-row: span 2;
	background:white;
	border-radius:10px;
	}

.gridContainer_3x6 #h1
	{ grid-row: span 4;	}

.gridContainer_3x6 #h2-1,
.gridContainer_3x6 #h2-2
	{ grid-row: span 3;	}

.gridContainer_3x6 #h2-1 .img,
.gridContainer_3x6 #h2-2 .img
	{ aspect-ratio:1.4/1;	}

.gridContainer_3x6 .img
	{ object-fit:contain;	}

.grid-item .video
	{
	height:100%;
	max-height:350px;
	width:auto;
	display:block;
	}

/*---------------END style grids---------------------*/
/*---------------style desc text---------------------*/
.proj .text-side-35
	{
	width:35%;
	margin: 0 0 0 20px;
	}

.proj .text-side-25
	{
	width:25%;
	margin: 0 0 0 20px;
	}

.proj .text-side-20
	{
	width:20%;
	margin: 0 0 0 20px;
	}

#text
	{ justify-content:center;	}

#profileText
	{ padding:30px 0;	}




/*---------------END style desc text-----------------*/

/*---------------END style project sample 1----------*/
/*---------------style side nav buttons--------------*/

#fp-nav ul li:nth-child(1) a span,
#fp-nav ul li:nth-child(2) a span,
#fp-nav ul li:nth-child(3) a span,  
#fp-nav ul li:nth-child(12) a span,
#fp-nav ul li:nth-child(19) a span,
#fp-nav ul li:nth-child(33) a span,
#fp-nav ul li:nth-child(38) a span
	{
	background: red !important; /* The dot color */
	}

#fp-nav ul li
	{ height:7px;	}

/*---------------END style side nav buttons----------*/
/*---------------slides------------------------------*/
#slide1
	{
	display:flex;
	flex-direction:row;
	}
/*---------------END slides--------------------------*/
/*---------------style projlist tabs-----------------*/
.tabs		/*-----container---------------------*/
	{
	display:flex;
	width:100%;
	height:70px;
	flex-direction:row;
	justify-content:space-between;
	color:gray;
	}

.tabs button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex:20%;
	min-width:80px;
	height:60px;
	margin:5px;

	border:none;
	background-color:#E9ECEF;

	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;

	cursor:pointer;

	border-radius:5px;
	}

.tabs button.tablinks:first-child
	{
	margin:5px 5px 5px 0;
	}
.tabs button.tablinks:last-child
	{
	margin:5px 0 5px 5px;
	}

.tabs button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs-----------------*/
/*---------------style projlist tabs2----------------*/
.tabs2		/*-----container---------------------*/
	{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	flex-direction:row;

	color:gray;
	gap:10px;
	}

.tabs2 button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-grow:1;

	border:none;
	background-color:#E9ECEF;

	padding:10px;

	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;

	cursor:pointer;

	border-radius:5px;
	}



.tabs2 button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs2 button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs2----------------*/
/*---------------style projlist projects-------------*/
.tabcontent	/*-----container---------------------*/
	{
	display:none;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width:100%;
	/*---background-color:#E9ECEF;	#212529;	#E9ECEF;--*/
	padding-top:5px;
	gap:10px;
	}

.tabcontent>div
	{
	display:flex;
	flex:25%;
	min-width:230px;
	background-color:#212529;
	/*---	margin:5px;	---*/
	aspect-ratio:1.4142/1;
	justify-content:center;
	
	overflow:hidden;
	
	border-radius:5px;
	border: 2px solid #212529;
	}

.tabcontent>div img
	{
	width:100%;
	object-fit: cover;
	cursor:pointer;
	}

.tabcontent>div:hover img
	{
	transform:scale(1.1);
	transition:2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	}



/*---------------style projlist projects-------------*/
/*---------------responsive--------------------------*/
/* tablet + phones */
@media (max-width: 1024px)
{
.proj .imgContainer
	{
	width:95%;
	max-width:unset;
	}

.gridContainer_1x1,
.gridContainer_1x2,
.gridContainer_2x2,
.gridContainer_3x2,
.gridContainer_3x3,
.gridContainer_3x6,
.gridContainer_4x6,
.proj .container95 .gridContainer_1x1,
.proj .container95 .gridContainer_3x2,
.proj .container95 .gridContainer_2x2,
.proj .container95 .gridContainer_4x6 
	{
	width:100%;
	max-width:unset;
	}





}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---tablet - landscape, 768px width---*/
@media only screen and (max-width: 768px) 
{
html, body
	{
	min-width:700px;
	padding:10px;
	margin:0;
	}

hf	{ font-size:50px;	}

h1_5	{ font-size:30px;	}

p1	{ font-size:16px;	}

#header,
.header,
.heading
	{ height:125px;		}

.heading
	{
	width:700px;
	max-width:unset;
	min-width:700px;
	}

#fp-nav ul
	{ display:none;	}

/*---------------style projlist----------------------*/
.projlist,
.proj
	{
	width:700px;
	max-width:unset;
	padding-right:60px;
	padding-left:60px;
	margin-top:125px;
	}

.projlist h1_5,
.proj h1_5
	{
	font-size:30px;
	margin-bottom: 0;
	}

.proj .imgContainer
	{ flex-direction:column;	}

.proj .imgContainer
	{ width:100%;	}

.proj .text-side-35,
.proj .text-side-25,
.proj .text-side-20
	{
	width:100%;
	margin:0;
	}

.grid-item .video
	{ width:100%;	}

.designSamples a,
.graphicSamples a
	{ height:75px;	}


}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 480px - 375px----*/
@media only screen and (max-width: 480px) 
{
html, body
	{
	min-width:320px;
	/*--padding:10px;---*/
	margin:0;
	}


hf	{ font-size:30px;	}

h1_5	{ font-size:20px;	}

p1	{ font-size:13px;	}

p15	{ padding: 20 0;	}

p4	{
	font-size:11px;
	line-height:1.5;
	}
.name
	{
	width: unset;
	min-width: unset;
	padding:unset;
	margin-bottom:5px;
	}

#header,
.header,
.heading
	{ height:135px;		}

.heading
	{
	width:400px;
	max-width:unset;
	min-width:400px;
	flex-direction:column;
	padding-top:25px;
	}

.linkscontainer
	{
	width:unset;
	min-width:unset;
	}

.links
	{
	min-width: unset;
	height: 20px;
	}

#fp-nav ul
	{ display:none;	}

.tabs	{

	}

.tabs button
	{
	min-width:unset;
	font-size:10px;
	}





/*---------------style projlist----------------------*/
.projlist,
.proj
	{
	width:400px;
	max-width:unset;
	padding-right:5px;
	padding-left:5px;
	margin-top:135px;
	}

.projlist h1_5,
.proj h1_5
	{
	font-size:20px;
	margin-bottom: 0;
	}


#section1 .projlist,
#section1 .proj
	{
	width:400px;
	max-width:unset;
	padding-right:25px;
	padding-left:20px;
	margin-top:135px;
	}

.fp-next
	{ right:25px;	}

.proj .imgContainer
	{ flex-direction:column;	}

.proj .imgContainer
	{ width:100%;	}

.proj .text-side-35,
.proj .text-side-25,
.proj .text-side-20
	{
	width:100%;
	margin:0;
	}

.grid-item .video
	{ width:100%;	}

.designSamples a,
.graphicSamples a
	{ height:75px;	}

.gridContainer_1x2_long
	{
	max-height: unset;
	max-width: unset;
	width: unset;
	}

.gridContainer_2x2
	{
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	padding-bottom:30px;
	}

.gridContainer_3x3
	{
	grid-template-columns: 1fr;
	grid-template-rows: repeat(9, auto);
	padding-bottom:30px;
	}
.gridContainer_3x2
	{
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, auto);
	padding-bottom:30px;
	}

.gridContainer_4x6
	{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, auto);
	padding-bottom:30px;
	}

.span01
	{
	grid-column: 1 / span 2;
	grid-row: 2 / span 2;
	}

.span02
	{
	grid-column: 1 / span 2;
	grid-row: 4 / span 2;
	}

.span04
	{
	grid-row:1;
	grid-column:1;
	}


.grid-item-scale85 .img3
	{ width:100%;	}

.graphics .video
	{ width:100%;	}

.grid-row
	{ grid-auto-flow: column;	}

.proj .container60 .gridContainer_1x1,
.container60
	{width:100%;	}





}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 325px and below----*/
@media only screen and (max-width: 325px) 
{
html, body
	{
	min-width:290px;
	padding:0;
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:40px;
	width:290px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:290px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	font-size: 12px;
	width:290px;
	}
.name p4
	{
	width:290px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:290px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:290px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:290px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	width:290px;
	height:70px;
	}
.tabs button
	{
	font-size:8px;
	min-width:unset;
	margin:5px;
	}
}