HerbertFlorPortfolio.css/*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-----*/
/*------------------------------------------------------------------------*/
/*------.heading						----------*/
/*------	.name						----------*/
/*------	.links						----------*/
/*------.middle							----------*/
/*------	.imageslide					----------*/
/*------	.namesummary					----------*/
/*------.projlist						----------*/
/*------	.projtabs					----------*/
/*------	.tab-xx		(tab content)			----------*/
/*------		.div					----------*/
/*------------------------------------------------------------------------*/


/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	margin: 0;
	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-decoration:none;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:white;
	}

p1	/*--------name text---------*/
	{
	font-size:17px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:#343A40;
	}
p2	/*--------links text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	}
p3	/*--------desciption text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	color:gray;
	}

p4	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

h1	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;

	margin:5px 0 0 0;
	color:#343A40;
	}

h2	/*--------name text---------*/
	{
	font-size:25px;
	font-family: Verdana, sans-serif;
	letter-spacing: 2px;
	margin:0 0 5px 0;
	color:#495057;
	}
/*---------------style text--------------------------*/
/*---------------style images------------------------*/
img
	{
	

	}


/*---------------style images------------------------*/
/*---------------style heading-----------------------*/
.heading
	{
	display:flex;
	flex-direction:row;
	width:90%;
	max-width:1000px;
	min-width:750px;
	height:200px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;

	padding:10px 0 10px 0;
	
	border-bottom:1px solid #DEE2E6;
	}
/*---------------style heading-----------------------*/
/*---------------style heading name------------------*/
.name
	{
	display:flex;
	flex-direction:column;
	width:70%;
	min-width:450px;
	/*---background-color:#F0F0F0;---*/
	padding:10px;
	}

/*---------------style heading name------------------*/
/*---------------style heading links-----------------*/
.links
	{
	display:flex;
	width:30%;
	min-width:250px;
	height:50px;
	}

.links>div
	{
	display:flex;
	flex:20%;
	min-width:40px;
	background-color:#E9ECEF;
	justify-content:center;
	text-align:center;
	align-items:center;
	margin:0 2px 0 2px;

	border:none;
	transition: 0.2s;
	}

.links>div:first-child
	{
	margin:0 2px 0 0;
	}
.links>div:last-child
	{
	margin:0 0 0 2px;
	}

.links>div a
	{
	height:50px;
	width:100%;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	}

.links>div a:hover
	{
	color:white;
	}


.links>div:hover
	{
	background-color:#343A40;
	}
/*---------------style heading links-----------------*/
/*---------------style middle------------------------*/
.middle
	{
	display:flex;
	width:90%;
	max-width:1000px;
	min-width:750px;
	height:300px;
	/*---background-color:#E9ECEF;---*/
	margin-left:auto;
	margin-right:auto;
	padding:10px 0 10px 0;

	border-bottom:1px solid #DEE2E6;
	}
/*---------------style middle------------------------*/
/*---------------style middle imageslide-------------*/
.imageslide
	{
	display:flex;
	width:70%;
	min-width:450px;
	background-color:#F8F8F8;
	margin: 0 10px 0 0;
	}
/*---------------style middle imageslide-------------*/
/*---------------style middle namesummary------------*/
.namesummary
	{
	display:flex;
	flex-direction:column;
	width:30%;
	min-width:250px;
	color:black;
	/*---background-color:silver;---*/
	text-align:justify;
	}
/*---------------style middle namesummary------------*/
/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:90%;
	max-width:1000px;
	min-width:750px;
	height:600px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	}
/*---------------style projlist----------------------*/
/*---------------style projlist tabs-----------------*/
.tabs		/*-----container---------------------*/
	{
	display:flex;
	width:100%;
	height:70px;
	flex-direction:row;
	justify-content:space-between;
	color:gray;
	}

.tabs button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex:20%;
	min-width:80px;
	height:60px;
	margin:5px;

	border:none;
	background-color:#E9ECEF;
	transition: 0.4s;
	}

.tabs button.tablinks:first-child
	{
	margin:5px 5px 5px 0;
	}
.tabs button.tablinks:last-child
	{
	margin:5px 0 5px 5px;
	}

.tabs button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs-----------------*/
/*---------------style projlist projects-------------*/
.tabcontent	/*-----container---------------------*/
	{
	display:none;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width:100%;
	background-color:#F0F0F0;
	}

.tabcontent>div
	{
	display:flex;
	flex:25%;
	min-width:230px;
	height:150px;
	background-color:#F0F0F0;
	margin:5px;
	}

.tabcontent>div img
	{
	width:100%;
	object-fit: cover;
	}

/*---------------style projlist projects-------------*/
