*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-----*/
/*------------------------------------------------------------------------*/
/*------.heading						----------*/
/*------	.name						----------*/
/*------	.links						----------*/
/*------.projlist						----------*/
/*------	.projtabs					----------*/
/*------	.tabs		(tab content)			----------*/
/*------		.button					----------*/
/*------		.tabcontent				----------*/

/*------------------------------------------------------------------------*/


/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	margin: 0;
	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-underline-offset:5px;
	text-decoration-style: dotted;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:white;
	}

p1	/*--------name text---------*/
	{
	font-size:17px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:#343A40;
	}
p12	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

p15	/*--------desciption text---------*/
	{
	font-size:15px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	text-align:justify;
	
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	}

p15 button
	{
	padding:10px;
	border-radius:5px;
	background-color:silver;
	border-width:0;
	flex-grow:1;
	background:#E9ECEF;
	font-weight:bold;
	}

p2	/*--------links text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	}
p3	/*--------desciption text---------*/
	{
	font-size:13px;
	font-family: Verdana, sans-serif;
	color:#343A40;
	}

p4	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}



h1	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;
	/*---margin:5px 0 0 0;	---*/
	color:#343A40;
	}

hf	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;
	/*---margin:5px 0 0 0;	---*/
	color:#343A40;
	line-height:1;
	font-weight:bold;
	}

h1_5	/*--------name text---------*/
	{
	font-size:35px;
	font-family: Arial, sans-serif;
	padding-bottom:10px;
	color:#343A40;
	font-weight:bold;
	line-height:1;
	}

h2	/*--------name text---------*/
	{
	font-size:25px;
	font-family: Verdana, sans-serif;
	letter-spacing: 2px;
	margin:0 0 5px 0;
	color:#495057;
	}
h3	/*--------name text---------*/
	{
	font-size:16px;
	font-family: Verdana, sans-serif;
	color:#495057;
	}

img
	{
	loading="lazy";
	}
/*---------------style text--------------------------*/

/*---------------style heading-----------------------*/
.heading
	{
	display:flex;
	flex-direction:row;
	width:calc(90% - 16px);
	max-width:1000px;
	min-width:750px;
	height:160px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;

	padding:18px 0 10px 0;
	
	border-bottom:1px solid #DEE2E6;
	background:white;

	}


/*---------------style heading-----------------------*/
/*---------------style heading name------------------*/
.name
	{
	display:flex;
	flex-direction:column;
	width:70%;
	min-width:450px;
	/*---background-color:#F0F0F0;---*/
	padding:0 10px 10px 0;
	}

/*---------------style heading name------------------*/
/*---------------style heading links-----------------*/
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:30%;
	min-width:250px;
	}

.links
	{
	display:flex;
	width:100%;
	min-width:250px;
	height:50px;
	}

.links>div
	{
	display:flex;
	flex:20%;
	min-width:40px;
	background-color:#E9ECEF;
	justify-content:center;
	text-align:center;
	align-items:center;
	margin:0 2px 0 2px;
	padding:5px;

	border:none;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	}

.links>div:first-child
	{
	margin:0 2px 0 0;
	}
.links>div:last-child
	{
	margin:0 0 0 2px;
	}

.links>div a
	{
	height:50px;
	width:100%;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;

	text-decoration:none;
	}

.links>div a:hover
	{
	color:white;
	}


.links>div:hover
	{
	background-color:#343A40;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:250px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	text-align:justify;
	}


/*---------------dropdown links--*/
div#resume			/*---only for resume link---*/
	{
	display:block;
	background-color:#E9ECEF;
	padding:0;
	height:inherit;
	}

div#resume:hover		/*---hover on resume link---*/
	{
	background-color:#343A40;
	}

div#resume a			/*---resume text style---*/
	{
	width:100%;
	color:black;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	height:inherit;
	}

div#resume a:hover		/*---resume text color on hover---*/
	{
	color:white;
	}

div#resume a p2
	{
	display:block;
	margin:auto;
	}

div#resume .dropdownlinks	/*---dropdown container---*/
	{
	display:none;
	position:absolute;
	z-index:1;
	}

div#resume .dropdownlinks a	
	{
	margin:5px 0 5px 0;
	background-color:#DEE2E6;
	color:black;

	}

div#resume .dropdownlinks a p2
	{
	display:flex;
	align-items:center;
	height:30px;
	width:145px;
	padding:5px;
	text-align:left;
	}

div#resume .dropdownlinks a:hover
	{
	color:white;
	background-color:#343A40;
	}
	
div#resume:hover .dropdownlinks		/*---display dropdown links on hover @ resume---*/
	{
	display: block;
	}

div#resume:hover #resblock
	{
	color:white;
	}

#resblock
	{
	cursor:context-menu;
	}

/*---------------style heading links-----------------*/

/*---------------style projlist----------------------*/
.fp-overflow
	{
	display:flex;
	justify-content:center;
	
	}

.fp-arrow.fp-prev
	{
	border-color: transparent black transparent transparent;
	}
.fp-arrow.fp-next 
	{
	border-color: transparent transparent transparent black;
	}
.fp-prev 
	{
	right: 35px;
	}
.fp-next 
	{
	right: 35px
	}

#header
	{
	top:0;
	position:fixed;
	display:block;
	width: 100%;
	background: unset;
	z-index:9;
	height: 160px;

	/* smooth effect */
	transition: box-shadow 0.3s ease;
	}


/* shadow when scrolled */
#header.scrolled
{
	box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


.projlist
	{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	width:800px;
	top:0;
	position:relative;

	margin-top:160px;
	padding:20px 0 0 0;
	}

.projlist_1T
	{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	width:1000px;
	top:0;
	position:relative;

	margin-top:160px;
	padding:20px 0 0 0;
	}

.profile,
.graphics
	{
	display:flex;
	flex-direction:column;
	}


.projlistFeatured,
.proj
	{
	display:flex;
	flex-direction:column;
	width:800px;
	height:auto;
	top:0;
	position:relative;
	margin-top:160px;
	padding:20px 0 0 0;
	}

.projlistFeatured .left,
.proj .left
	{
	display:flex;
	flex-direction:column;
	width:30%;
	gap:10px;
	justify-content: space-between;
	}

.projlistFeatured .left .img, .projlistFeatured .right .img
.proj .left .img, .proj .right .img
	{
	width:100%;
	aspect-ratio:unset;
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*---margin:0 auto 10px auto;---*/s
	}

.projlistFeatured .right,
.proj .right
	{
	display:flex;
	flex-direction:column;
	width:70%;
	padding-left:40px;
	}


.projlistFeatured .img
	{
	width:60%;
	/*---width:60%;---*/
	aspect-ratio:16/9;
	/*---min-height:350px;---*/
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

.projlistFeatured .imgContainer,
.proj .imgContainer
	{
	width:100%;
	display:flex;
	gap:10px;
	margin:0 auto 10px auto;
	}


.projlistFeatured .imgContainer .img3,
.projlistFeatured .imgContainer .img2
	{
	width:33%;
	aspect-ratio:unset;
	/*---min-height:350px;---*/
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:black;
	font-size:12px;
	line-height:1.5;
	}

.projlistFeatured .imgContainer .img2
	{
	aspect-ratio:16/9;
	height:100%;
	align-self:center;
	}

.projlistFeatured .img3, .projlistFeatured .img,
.proj .img3, .proj .img
	{
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);;
	}

.projlistFeatured h1_5,
.projlist_1T h1_5,
.proj h1_5
	{
	font-size:35px;
	/*---text-align:center;---*/
	}

.projlistFeatured p12,
.proj p12
	{
	color:black;
	width:60%;
	margin:10px auto 0 auto;
	}

.projlistFeatured video
	{ 
	width:60%;
	aspect-ratio:16/9;
	margin:auto;
	}

.img,
.img2,
.img3
	{ border-radius:10px;	}

/*---------------style projlist----------------------*/
/*---------------style project sample 1--------------*/
.designSamples,
.graphicSamples
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:10px;
	}

.designSamples a,
.graphicSamples a
	{
	width:25%;
	flex-grow:1;
	height:120px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:15px;
	line-height:1;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	}

.designSamples a:hover,
.graphicSamples a:hover
	{
	width:45%;
	font-size:20px;
	}

.designSamples .img
	{
	width:100%;
	height:100%;
	object-fit:cover;
	object-position:center;
	}

.titleText
	{
	font-size:12px;
	font-family: Arial, sans-serif;
	color:white;
	font-weight:bold;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Ensures readability */
	pointer-events: none; /* Allows clicks to pass through to the image if needed */
	}



.graphic01,
.graphic02
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:10px;
	}

.reports
	{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	gap:10px;
	}

.graphic01 a,
.graphic02 a
	{
	width:30%;
	flex-grow:1;
	height:200px;
	aspect-ratio:16/9;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:15px;
	line-height:1;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	border-radius:5px;

	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 
                 0px 0px 10px rgba(0, 0, 0, 0.7);
	}

.graphic02 a
	{
	height:350px;
	box-shadow:unset;
	aspect-ratio:unset;
	}
.graphic02 img
	{
	border-radius:10px;
	flex:0 0 40%;
	align-self:center;
	}

.reports img
	{
	max-width:1000px;
	max-height:350px;
	border-radius:10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	}

.reports a
	{ margin: 0 auto;	}

#paperProp a
	{
	background-position:top;
	height:204px;
	width:288px;
	}

/*---------------END style project sample 1----------*/
/*---------------style side nav buttons--------------*/

#fp-nav ul li:nth-child(1) a span,
#fp-nav ul li:nth-child(2) a span,
#fp-nav ul li:nth-child(3) a span,  
#fp-nav ul li:nth-child(12) a span,
#fp-nav ul li:nth-child(19) a span,
#fp-nav ul li:nth-child(33) a span,
#fp-nav ul li:nth-child(38) a span
	{
	background: red !important; /* The dot color */
	}

#fp-nav ul li
	{ height:7px;	}

/*---------------END style side nav buttons----------*/
/*---------------slides------------------------------*/
#slide1
	{
	display:flex;
	flex-direction:row;
	}
/*---------------END slides--------------------------*/
/*---------------style projlist tabs-----------------*/
.tabs		/*-----container---------------------*/
	{
	display:flex;
	width:100%;
	height:70px;
	flex-direction:row;
	justify-content:space-between;
	color:gray;
	}

.tabs button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex:20%;
	min-width:80px;
	height:60px;
	margin:5px;

	border:none;
	background-color:#E9ECEF;

	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;

	cursor:pointer;

	border-radius:5px;
	}

.tabs button.tablinks:first-child
	{
	margin:5px 5px 5px 0;
	}
.tabs button.tablinks:last-child
	{
	margin:5px 0 5px 5px;
	}

.tabs button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs-----------------*/
/*---------------style projlist tabs2----------------*/
.tabs2		/*-----container---------------------*/
	{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	flex-direction:row;

	color:gray;
	gap:10px;
	}

.tabs2 button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex-grow:1;

	border:none;
	background-color:#E9ECEF;

	padding:10px;

	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;

	cursor:pointer;

	border-radius:5px;
	}



.tabs2 button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs2 button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs2----------------*/
/*---------------style projlist projects-------------*/
.tabcontent	/*-----container---------------------*/
	{
	display:none;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width:100%;
	/*---background-color:#E9ECEF;	#212529;	#E9ECEF;--*/
	padding-top:5px;
	gap:10px;
	}

.tabcontent>div
	{
	display:flex;
	flex:25%;
	min-width:230px;
	background-color:#212529;
	/*---	margin:5px;	---*/
	aspect-ratio:1.4142/1;
	justify-content:center;
	
	overflow:hidden;
	
	border-radius:5px;
	border: 2px solid #212529;
	}

.tabcontent>div img
	{
	width:100%;
	object-fit: cover;
	cursor:pointer;
	}

.tabcontent>div:hover img
	{
	transform:scale(1.1);
	transition:2s;
	-moz-transition:2s;
	-webkit-transition:2s;
	}

/*---------------LIGHTBOX----------------------------*/
.lightcontainer
	{
	display:flex;
	flex-direction:column;
	width:80%;
	max-width:900px;	/*--850px---*/
	background-color:black;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:2;

	max-height:100%;

	border-radius:10px;
	}


/*---------------LIGHTBOX----------------------------*/
/*---------------LIGHTBOX - Style the x button-------*/
.topclose
	{
	display:flex;
	justify-content:center;
	}
.topclose>div
	{
	height:40px;
	width:90%;
	}

.topclose>div a
	{
	float:right;
	padding:0;
	color:white;
	text-decoration:none;
	}

.topclose>div p
	{
	float:left;
	font-size:12px;
	}
.topclose>div a:hover
	{
	/*---white transparent background---*/
	font-weight:bold;
	text-shadow:0 0  10px white;
	}

/*---------------LIGHTBOX - Style the x button-------*/
/*---------------LIGHTBOX - main image---------------*/
.lightimage
	{
	display:flex;
	width:90%;
	align-self:center;
	/*-----aspect-ratio:16/9;----*/
	background-color:black;
	position:relative;
	margin-bottom:30px;
	overflow:hidden;	/*----------*/
	}

.lightslides
	{
	display:none;
	}


.overlay
	{
	display:flex;
	flex-direction:column;
	width:100%;
	color:white;
	position:absolute;
	bottom:0;
	background: rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.5);

	transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;

	opacity:0;
	text-align:justify;
	padding:5px 15px 15px 15px;
	}

.overlay h3
	{
	color:white;
	text-align:left;
	}

.lightslides:hover .overlay
	{
	opacity:1;
	}

	/*---style and animation for G10---*/
.lightslides#lightslideG10
	{
	display:flex;
	overflow:hidden;
	}

.lightslides#lightslideG10 img
	{
	width:400%; 
	position:relative;
	right:100%;
	animation-name:G10;
	animation-duration:20s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	}

@keyframes G10
	{
	from	{right:10%;	}
	to	{right:100%;	}
	}
	/*---style and animation for G10---*/

/*---------------LIGHTBOX - main image---------------*/

/*---------------style projlist projects-------------*/
/*---------------responsive--------------------------*/


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---tablet - landscape, 768px width---*/
@media only screen and (max-width: 768px) 
{
html, body
	{
	min-width:700px;
	padding:10px;
	margin:0;
	}
h1	/*--------name text---------*/
	{
	font-size:70px;
	}
.heading 
	{
	width:700px;
	max-width:unset;
	min-width:700px;
	}
/*---------------style projlist----------------------*/
.projlist
	{
	width:700px;
	/*---max-width:700px;	---*/
	min-width:unset;

	padding-right:60px;
	padding-left:60px;
	}

}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 670px and down) */
@media only screen and (max-width: 670px) 
{
html, body
	{
	min-width:640px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:640px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:0;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:640px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:640px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

#header 
	{
	height:185px;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:640px;
	min-width:640px;
	height:unset;
	margin-top:185px;
	}
.tabs		/*-----container---------------------*/
	{
	
	}
.tabs button
	{
	min-width:unset;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
html, body
	{
	min-width:500px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:500px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:30px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:500px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:500px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:500px;
	min-width:500px;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	
	}
.tabs button
	{
	min-width:unset;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 480px - 375px----*/
@media only screen and (max-width: 480px) 
{
html, body
	{
	min-width:320px;
	/*--padding:10px;---*/
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:50px;
	width:320px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:320px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	width:320px;
	}
.name p4
	{
	width:320px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:320px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:320px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:320px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	width:320px;
	height:70px;
	}
.tabs button
	{
	font-size:8px;
	min-width:unset;
	margin:5px;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 325px and below----*/
@media only screen and (max-width: 325px) 
{
html, body
	{
	min-width:290px;
	padding:0;
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:40px;
	width:290px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:290px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	font-size: 12px;
	width:290px;
	}
.name p4
	{
	width:290px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:290px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:290px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:290px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	width:290px;
	height:70px;
	}
.tabs button
	{
	font-size:8px;
	min-width:unset;
	margin:5px;
	}
}