*---------------Color style----------------------------------------------*/
/*------https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529-----*/
/*------------------------------------------------------------------------*/
/*------.heading						----------*/
/*------	.name						----------*/
/*------	.links						----------*/
/*------.projlist						----------*/
/*------	.projtabs					----------*/
/*------	.tabs		(tab content)			----------*/
/*------		.button					----------*/
/*------		.tabcontent				----------*/

/*------------------------------------------------------------------------*/


/*---------------set html height to full page--------*/
html, body
	{
	width: 100%;
	margin: 0;
	}
/*---------------set html height to full page--------*/
/*---------------Req---------------------------------*/
* 
	{
	box-sizing: border-box;
	}
/*---------------Req---------------------------------*/
/*---------------Style the links---------------------*/
a
	{
	text-underline-offset:5px;
	text-decoration-style: dotted;
	}
/*---------------Style the links---------------------*/
/*---------------style text--------------------------*/
p	/*--------name text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:white;
	}

p1	/*--------name text---------*/
	{
	font-size:17px;
	font-family: Verdana, sans-serif;
	letter-spacing: 3px;
	margin-bottom:10px;
	color:#343A40;
	}
p12	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}
p2	/*--------links text---------*/
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	}
p3	/*--------desciption text---------*/
	{
	font-size:13px;
	font-family: Verdana, sans-serif;
	color:#343A40;
	}

p4	/*--------desciption text---------*/
	{
	font-size:12px;
	font-family: Verdana, sans-serif;
	line-height:1.5;
	}

h1	/*--------name text---------*/
	{
	font-size:80px;
	font-family: Arial, sans-serif;

	margin:5px 0 0 0;
	color:#343A40;
	}

h2	/*--------name text---------*/
	{
	font-size:25px;
	font-family: Verdana, sans-serif;
	letter-spacing: 2px;
	margin:0 0 5px 0;
	color:#495057;
	}
/*---------------style text--------------------------*/

/*---------------style heading-----------------------*/
.heading
	{
	display:flex;
	flex-direction:row;
	width:90%;
	max-width:1000px;
	min-width:750px;
	height:200px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;

	padding:10px 0 10px 0;
	
	border-bottom:1px solid #DEE2E6;
	}
/*---------------style heading-----------------------*/
/*---------------style heading name------------------*/
.name
	{
	display:flex;
	flex-direction:column;
	width:70%;
	min-width:450px;
	/*---background-color:#F0F0F0;---*/
	padding:10px;
	}

/*---------------style heading name------------------*/
/*---------------style heading links-----------------*/
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:30%;
	min-width:250px;
	}

.links
	{
	display:flex;
	width:100%;
	min-width:250px;
	height:50px;
	}

.links>div
	{
	display:flex;
	flex:20%;
	min-width:40px;
	background-color:#E9ECEF;
	justify-content:center;
	text-align:center;
	align-items:center;
	margin:0 2px 0 2px;
	padding:5px;

	border:none;
	transition: 0.2s;
	}

.links>div:first-child
	{
	margin:0 2px 0 0;
	}
.links>div:last-child
	{
	margin:0 0 0 2px;
	}

.links>div a
	{
	height:50px;
	width:100%;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;

	text-decoration:none;
	}

.links>div a:hover
	{
	color:white;
	}


.links>div:hover
	{
	background-color:#343A40;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:250px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:10px;
	font-family: Verdana, sans-serif;
	text-align:justify;
	}


/*---------------dropdown links--*/
div#resume			/*---only for resume link---*/
	{
	display:block;
	background-color:#E9ECEF;
	padding:0;
	height:inherit;
	}

div#resume:hover		/*---hover on resume link---*/
	{
	background-color:#343A40;
	}

div#resume a			/*---resume text style---*/
	{
	width:100%;
	color:black;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	height:inherit;
	}

div#resume a:hover		/*---resume text color on hover---*/
	{
	color:white;
	}

div#resume a p2
	{
	display:block;
	margin:auto;
	}

div#resume .dropdownlinks	/*---dropdown container---*/
	{
	display:none;
	position:absolute;
	z-index:1;
	}

div#resume .dropdownlinks a	
	{
	margin:5px 0 5px 0;
	background-color:#DEE2E6;
	color:black;

	}

div#resume .dropdownlinks a p2
	{
	display:flex;
	align-items:center;
	height:30px;
	width:145px;
	padding:5px;
	text-align:left;
	}

div#resume .dropdownlinks a:hover
	{
	color:white;
	background-color:#343A40;
	}
	
div#resume:hover .dropdownlinks		/*---display dropdown links on hover @ resume---*/
	{
	display: block;
	}

div#resume:hover #resblock
	{
	color:white;
	}

#resblock
	{
	cursor:context-menu;
	}

/*---------------style heading links-----------------*/

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:90%;
	max-width:1000px;
	min-width:750px;
	height:600px;
	/*---background-color:#F8F9FA;---*/
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	}
/*---------------style projlist----------------------*/
/*---------------style projlist tabs-----------------*/
.tabs		/*-----container---------------------*/
	{
	display:flex;
	width:100%;
	height:70px;
	flex-direction:row;
	justify-content:space-between;
	color:gray;
	}

.tabs button
	{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	flex:20%;
	min-width:80px;
	height:60px;
	margin:5px;

	border:none;
	background-color:#E9ECEF;
	transition: 0.4s;
	cursor:pointer;
	}

.tabs button.tablinks:first-child
	{
	margin:5px 5px 5px 0;
	}
.tabs button.tablinks:last-child
	{
	margin:5px 0 5px 5px;
	}

.tabs button:hover
	{
	background-color:#343A40;
	color:white;
	}

.tabs button.active
	{
	background-color:#343A40;
	color:white;
	}
/*---------------style projlist tabs-----------------*/
/*---------------style projlist projects-------------*/
.tabcontent	/*-----container---------------------*/
	{
	display:none;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: flex-start;
	align-content: flex-start;
	width:100%;
	background-color:#212529;	/*--#E9ECEF;--*/
	}

.tabcontent>div
	{
	display:flex;
	flex:25%;
	min-width:230px;
	background-color:#212529;
	margin:5px;
	aspect-ratio:1.4142/1;
	justify-content:center;
	}

.tabcontent>div img
	{
	width:100%;
	object-fit: cover;

	cursor:pointer;
	}

/*---------------LIGHTBOX----------------------------*/
.lightcontainer
	{
	display:flex;
	flex-direction:column;
	width:80%;
	max-width:850px;
	background-color:black;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:2;

	max-height:100%;
	}


/*---------------LIGHTBOX----------------------------*/
/*---------------LIGHTBOX - Style the x button-------*/
.topclose
	{
	display:flex;
	justify-content:center;
	}
.topclose>div
	{
	height:40px;
	width:90%;
	}

.topclose>div a
	{
	float:right;
	padding:0;
	color:white;
	text-decoration:none;
	}

.topclose>div p
	{
	float:left;
	font-size:12px;
	}
.topclose>div a:hover
	{
	/*---white transparent background---*/
	font-weight:bold;
	text-shadow:0 0  10px white;
	}

/*---------------LIGHTBOX - Style the x button-------*/
/*---------------LIGHTBOX - main image---------------*/
.lightimage
	{
	display:flex;
	width:90%;
	align-self:center;
	aspect-ratio:16/9;
	background-color:silver;
	position:relative;
	margin-bottom:30px;
	}
.lightslides
	{
	display:none;
	}

.overlay
	{
	display:flex;
	flex-direction:column;
	width:100%;
	color:white;
	position:absolute;
	bottom:0;
	background: rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.5);
	transition:.5s;
	opacity:0;
	text-align:center;
	align-items:center;
	justify-content:center;
	padding-bottom:10px;
	}

.overlay h3
	{
	color:white;
	}

.lightslides:hover .overlay
	{
	opacity:1;
	}


/*---------------LIGHTBOX - main image---------------*/

/*---------------style projlist projects-------------*/
/*---------------responsive--------------------------*/


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---tablet - landscape, 768px width---*/
@media only screen and (max-width: 768px) 
{
html, body
	{
	min-width:700px;
	padding:10px;
	margin:0;
	}
h1	/*--------name text---------*/
	{
	font-size:70px;
	}
.heading 
	{
	width:700px;
	max-width:unset;
	min-width:700px;
	}
/*---------------style projlist----------------------*/
.projlist
	{
	width:700px;
	max-width:700px;
	min-width:unset;
	}

}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 670px and down) */
@media only screen and (max-width: 670px) 
{
html, body
	{
	min-width:640px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:640px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:30px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:640px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:640px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:640px;
	min-width:640px;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	
	}
.tabs button
	{
	min-width:unset;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
html, body
	{
	min-width:500px;
	/*--padding:10px;---*/
	}

h1	/*--------name text---------*/
	{
	font-size:70px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:500px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:100%;
	text-align:center;
	padding:30px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:100%;
	min-width:500px;
	}
.links
	{
	width:100%;
	min-width:450px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:100%;
	min-width:500px;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:500px;
	min-width:500px;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	
	}
.tabs button
	{
	min-width:unset;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 480px - 375px----*/
@media only screen and (max-width: 480px) 
{
html, body
	{
	min-width:320px;
	/*--padding:10px;---*/
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:50px;
	width:320px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:320px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	width:320px;
	}
.name p4
	{
	width:320px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:320px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:320px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:320px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	width:320px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	width:320px;
	height:70px;
	}
.tabs button
	{
	font-size:8px;
	min-width:unset;
	margin:5px;
	}
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*---mobile - portrait, 325px and below----*/
@media only screen and (max-width: 325px) 
{
html, body
	{
	min-width:290px;
	padding:0;
	margin:0;
	}

h1	/*--------name text---------*/
	{
	font-size:40px;
	width:290px;
	}
/*---------------style heading-----------------------*/
.heading 
	{
	flex-direction:column;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.name
	{
	flex-direction:column;
	width:290px;
	min-width:unset;
	text-align:center;
	padding:30px 0 30px 0;
	}
.name p1
	{
	font-size: 12px;
	width:290px;
	}
.name p4
	{
	width:290px;
	}
.linkscontainer
	{
	display:flex;
	flex-direction:column;
	width:290px;
	min-width:unset;
	}
.links
	{
	width:100%;
	min-width:290px;
	height:30px;
	}

.links>div
	{
	min-width:unset;
	}

.linkstext
	{
	display:flex;
	width:290px;
	min-width:unset;
	margin-top:10px;
	}

.linkstext p2
	{
	font-size:13px;
	line-height: 1.5;
	}

/*---------------style projlist----------------------*/
.projlist
	{
	display:flex;
	flex-direction:column;
	width:100%;
	width:290px;
	max-width:unset;
	min-width:unset;
	height:unset;
	}
.tabs		/*-----container---------------------*/
	{
	width:290px;
	height:70px;
	}
.tabs button
	{
	font-size:8px;
	min-width:unset;
	margin:5px;
	}
}
